@model TaskUser.ViewsModels.BrandViewsModels.BrandViewsModels
@using TaskUser.Resources
<<<<<<< HEAD
@inject SharedViewLocalizer<BrandResource> Localizer
=======
@inject SharedViewLocalizer<SharedResource> Localizer
>>>>>>> master
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container">
@*     @if (ViewBag.ErrorAdd != null) *@
@*     { *@
@*         @Localizer["Add Failure"] *@
@*                *@
@*     } *@
    <form method="post" asp-controller="Brand" asp-action="Create">
        <legend>
            @Localizer.GetLocalizedString("lbl_AddBrand")
           </legend>
        @*<input type="hidden" class="form-control" asp-for="Id"  placeholder="Your name" required>*@
        <div class="form-group col-xs-6">
            <label>
                @Localizer.GetLocalizedString("lbl_BrandName")
            </label>
            <input type="text" class="form-control" asp-for="BrandName" placeholder="BrandName" >
            <span asp-validation-for="BrandName"></span>
        </div>
                       
                       
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                @Localizer.GetLocalizedString("lbl_AddNewBrand")
            </button>
        </div>
    </form>
    @* <div class="form-group col-xs-12"> *@
    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Back"> *@
    @*         <img src="~/img/iconback.png" alt="Smiley face" height="42" width="42"> *@
    @*         @Localizer["Go back to the main page"] *@
    @*     </a> *@
    @* </div> *@
              
</div>
              
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>