@model CategoryViewsModels
@using TaskUser.ViewsModels.CategoryViewsModels
@using TaskUser.Resources

@inject SharedViewLocalizer<CategoryResource> Localizer



@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container">
    @if (ViewData["AddFailure"] != null)
    {
        <div class="alert alert-info"style="width: 200px">
            <strong>@ViewData["AddFailure"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
        </div>
 
    }
    <form method="post" asp-controller="Category" asp-action="Create">
        <legend>@Localizer.GetLocalizedString("lbl_AddCategory")</legend>
        @*<input type="hidden" class="form-control" asp-for="Id"  placeholder="Your name" required>*@
        <div class="form-group col-xs-6">
            <label>
                @Localizer.GetLocalizedString("lbl_CategoryName")
                
            </label>
            <input type="text" class="form-control" asp-for="CategoryName" placeholder="CategoryName" >
            <span asp-validation-for="CategoryName"></span>
        </div>
                       
                       
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">

                @Localizer.GetLocalizedString("btn_AddNewCategory")

            </button>
        </div>
    </form>
    <div class="form-group col-xs-12">
        <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Back">
            <img src="~/img/iconback.png" alt="Smiley face" height="42" width="42">
            @Localizer.GetLocalizedString("btn_GoBackToTheMainPage")
            
        </a>
    </div>
              
</div>
              
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>