@model TaskUser.ViewsModels.EditViewPassword



<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel"> @PasswordLocalizer.GetLocalizedString("lbl_EditPassWord")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="User" asp-action="EditPassword" method="post">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="NewPassword">@PasswordLocalizer.GetLocalizedString("lbl_NewPassWord")</label>
                        <input asp-for="NewPassword" class="form-control"  />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">@PasswordLocalizer.GetLocalizedString("lbl_ConfirmPassWord")</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@PasswordLocalizer.GetLocalizedString("btn_Close")</button>
                <button type="button" class="btn btn-primary" data-save="modal">@PasswordLocalizer.GetLocalizedString("btn_Save")</button>
            </div>
        </div>
    </div>
</div>

