@model TaskUser.ViewsModels.UserViewsModels.UserViewsModels
@using TaskUser.Resources
@inject SharedViewLocalizer<UserResouce> Localizer

@{
   
    Layout = "_Layout";
}
@* <p>@ViewBag.Err</p> *@
<div class="container">
@*     @if (ViewBag.ErrorAdd != null) *@
@*     { *@
@*         @Localizer["Add Failure"] *@
@*          *@
@*     } *@
    <form method="post" asp-controller="User" asp-action="Create">
        <legend>
            @Localizer.GetLocalizedString("lbl_AddUser")

        </legend>
        @*<input type="hidden" class="form-control" asp-for="Id"  placeholder="Your name" required>*@
        <div class="form-group col-xs-6">
            <label>
                @Localizer.GetLocalizedString("lbl_Name")
                
            </label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Your name" required>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group col-xs-6">
            <label>
                @Localizer.GetLocalizedString("lbl_Email")
            </label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Email address" required>
            <span asp-validation-for="Email"></span>
        </div>
        <div id="subject-select" class="form-group col-xs-12">
            <label>
                @Localizer.GetLocalizedString("lbl_Password")
            </label>
            <input type="password" class="form-control" asp-for="PassWord" placeholder="PassWord" required>
            <span asp-validation-for="PassWord"></span>
        </div>

        <div class="form-group col-xs-6 hidden">
            <label> @Localizer.GetLocalizedString("lbl_Phone")</label>
            <input type="text" class="form-control" asp-for="Phone" placeholder="Phone" required/>
            <span asp-validation-for="Phone"></span>
        </div>
        <div class="form-group col-xs-6 hidden">
            <label> @Localizer.GetLocalizedString("lbl_StoreId")</label>
            <select class="form-control" asp-for="StoreId" asp-items="@ViewBag.StoreId">
                @* <option asp-for="StoreId" >@ViewBag.StoreId[""]</option> *@
            </select>
            <span asp-validation-for="StoreId"></span>
        </div>
        <div id="hidden-other-subject" class="form-group col-xs-6 hidden">
            <label>
                @Localizer.GetLocalizedString("lbl_IsActiver")
            </label>
            <input type="checkbox" asp-for="IsActiver" />
            <span asp-validation-for="IsActiver"></span>
        </div>

        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                @Localizer.GetLocalizedString("btn_AddNewUser")
            </button>
        </div>

    </form>
    <div class="form-group col-xs-12">
        
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Back">
            <img src="~/img/iconback.png" alt="Smiley face" height="42" width="42">
            @* @Localizer["Go back to the main page"] *@
            
        </a>
    </div>
    
</div>

    
            

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
