@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering
@model List<TaskUser.ViewsModels.UserViewsModels.UserViewsModels>
@using TaskUser.Resources
@inject SharedViewLocalizer Localizer
<style type="text/css">.usermanege { }</style>
<link rel="stylesheet" href="~/css/indexcs.css" />

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


  


<div class="container-fuld">
    
    <div class="alert" style="padding-right: 300px">
        <h1 class="usermanege" align="center">
           @Localizer.GetLocalizedString("h1_usersmanagement")
        </h1>
        
        @if (TempData["create"] != null)
        {
            <h4  class="close" data-dismiss="alert" aria-label="Close" >@Localizer["Add Users Success"]</h4>
        
        
        }
        @if (@TempData["edit"] != null)
        {
            <h4  class="close" data-dismiss="alert" aria-label="Close" >@Localizer["Edit Users Success"]</h4>
        
        
        }
        @if (ViewData["Password"] != null)
        {
            <h4  class="close" data-dismiss="alert" aria-label="Close" >@Localizer["Edit Password Success"]</h4>
        
        
        }
    </div>
 <table class="table table-bordered table-sm">
        <thead align="center">

        <tr class="table-primary">
            <th>
                ID
            </th>
            <th>
                @Localizer.GetLocalizedString("th_name")
  

            </th>
            <th>
                @Localizer.GetLocalizedString("th_email")
             
            </th>
            @*     <th> *@
            @*         @Localizer["PassWord"] *@
            @*     </th> *@
            <th>
                @Localizer.GetLocalizedString("th_phone")
            </th>
            <th>
                @Localizer.GetLocalizedString("th_isactiver")
               </th>
            <th>
                @Localizer.GetLocalizedString("th_storeid")
                
            </th>
            <th>
                @Localizer.GetLocalizedString("th_actision")
                
            </th>
        </tr>
        </thead>
        <tbody>
        <a class="btn" style="color: black" asp-action="Create">
            <img src="~/img/add.png" alt="Smiley face" height="32" width="32">
        </a>


        @foreach (var item in Model)
        {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.PassWord) *@
                @* </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @* <!-- Button trigger modal --> *@
                    <button type="button" class="btn" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("EditPassword", new { id = item.Id})">
                        <img src="~/img/uppassword.png" alt="Smiley face" height="32" width="32">
                    </button>
                    |
                    <button type="button" class="btn" data-toggle="ajax-modal" data-target="#add-email" data-url="@Url.Action("EditEmail", new { id = item.Id})">
                        <img src="~/img/editmail.png" alt="Smiley face" height="32" width="32">
                    </button>
                    <a class="btn" style="color: black" asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/img/Edit.png" alt="Smiley face" height="32" width="32">
                    </a> |
                    <a class="btn" style="color: black" onclick="return confirm('@Localizer.GetLocalizedString("a_areyousureyouwanttodeleteit?")')" asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/img/delete.png" alt="Smiley face" height="32" width="32">
                    </a>
                </td>
            </tr>
@*              <div id='Paging' style="text-align:center"> *@
@*                  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) *@
@*                  of @Model.PageCount *@
@* *@
@*                  @Html.PagedListPager(Model, page => Url.Action("Index", new { page })) *@
@*              </div> *@
        }
        </tbody>
    </table>
</div>


<!-- Modal placeholder -->
<div id="modal-placeholder"></div>