@model TaskUser.ViewsModels.ProductViewsModels.ProductViewsModels
@using TaskUser.Resources
@inject SharedViewLocalizer<ProductResource> Localizer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
@*     @if (ViewBag.ErrorEdit != null) *@
@*     { *@
@*         @Localizer["Edit Failure"] *@
@*          *@
@*     } *@
    <form method="post" asp-controller="Product" enctype="multipart/form-data" asp-action="Edit">
        <legend>@Localizer.GetLocalizedString("lbl_EditProduct")</legend>
       <div class="form-group col-xs-6">
            <label>@Localizer.GetLocalizedString("lbl_BrandId")</label>
            <select class="form-control" asp-for="BrandId" asp-items="@ViewBag.BrandId">
                @* <option asp-for="StoreId" >@ViewBag.StoreId[""]</option> *@
            </select>
            
            <span asp-validation-for="BrandId"></span>
        </div>
        <div class="form-group col-xs-6">
            <label>@Localizer.GetLocalizedString("lbl_CategoryId")</label>
            <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div class="form-group col-xs-6">
            <label>@Localizer.GetLocalizedString("lbl_ModelYear")</label>
            <input type="text" class="form-control" asp-for="ModelYear" placeholder="ModelYear" >
            <span asp-validation-for="ModelYear"></span>
        </div>
        <div class="form-group col-xs-6">
            <label>@Localizer.GetLocalizedString("lbl_ProductName")</label>
            <input type="text" class="form-control" asp-for="ProductName" placeholder="ProductName" >
            <span asp-validation-for="ProductName"></span>
        </div>
        <div class="form-group col-xs-6">
            <label>@Localizer.GetLocalizedString("lbl_Picture")</label>
            <input type="file" class="form-control" asp-for="PictureFile" placeholder="Picture" >
            <span asp-validation-for="PictureFile"></span>
        </div>
        <div class="form-group col-xs-6">
            <label>@Localizer.GetLocalizedString("lbl_ListPrice")</label>
            <input type="number" class="form-control" asp-for="ListPrice" placeholder="ListPrice" >
            <span asp-validation-for="ListPrice"></span>
        </div>
       
                       
                       
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">@Localizer.GetLocalizedString("btn_Edit")</button>
        </div>
    </form>
    @* <div class="form-group col-xs-12"> *@
    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Back"> *@
    @*         <img src="~/img/iconback.png" alt="Smiley face" height="42" width="42"> *@
    @*         @Localizer["Go back to the main page"] *@
    @*     </a> *@
    @* </div> *@
              
</div>
