@model IEnumerable<TaskUser.ViewsModels.ProductViewsModels.ProductViewsModels>
@using TaskUser.Resources
<<<<<<< HEAD
@inject SharedViewLocalizer<ProductResource> Localizer
=======
@inject SharedViewLocalizer<SharedResource> Localizer
>>>>>>> master
<link rel="stylesheet" href="~/css/indexcs.css"/>


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fuld">
    <h1 align="center">@Localizer.GetLocalizedString("lbl_ProductManagement")</h1>
@*     @if (TempData["create"] != null) *@
@*     { *@
@*         <h4  class="close" data-dismiss="alert" aria-label="Close" >@Localizer["Add Product Success"]</h4> *@
@*          *@
@*          *@
@*     } *@
@*     @if (TempData["edit"] != null) *@
@*     { *@
@*         <h4  class="close" data-dismiss="alert" aria-label="Close" >@Localizer["Edit Product Success"]</h4> *@
@*          *@
@*          *@
@*     } *@

    <table class="table table-bordered table-sm">
        <thead align="center">

        <tr class="table-primary">
            <th>
                ID
            </th>
            <th>
                @Localizer.GetLocalizedString("lbl_ProductName")
               

            </th>
            <th>
                @Localizer.GetLocalizedString("lbl_BrandId")
             
            </th>

            <th>
                @Localizer.GetLocalizedString("lbl_CategoryId")
     
            </th>
            <th>
                @Localizer.GetLocalizedString("lbl_ModelYear")
            
            </th>

            <th>
                @Localizer.GetLocalizedString("lbl_Picture")
              
            </th>
            <th>
                @Localizer.GetLocalizedString("lbl_ListPrice")
            
            </th>
            <th>
                @Localizer.GetLocalizedString("lbl_Actision")
            
            </th>
        </tr>
        </thead>
        <tbody>
        <a class="btn" style="color: black" asp-controller="Product" asp-action="Create">
            <img src="~/img/addproduct.png" alt="Smiley face" height="32" width="32">
        </a>


        @foreach (var item in Model)
        {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.Picture)" height="100" width="100"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>


                <td>
                    <a class="btn" style="color: black" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/img/Edit.png" alt="Smiley face" height="32" width="32">
                    </a> |
                    <a class="btn" style="color: black" onclick="return confirm('@Localizer.GetLocalizedString("btn_AreYouSureYouWantToDeleteIt?")')" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/img/deleteproduct.png" alt="Smiley face" height="32" width="32">
                    </a>
                </td>
            </tr>
@*              <div id='Paging' style="text-align:center"> *@
@*                  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) *@
@*                  of @Model.PageCount *@
@* *@
@*                  @Html.PagedListPager(Model, page => Url.Action("Index", new { page })) *@
@*              </div> *@
        }
        </tbody>
    </table>
</div>
